<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.mybatis.dao.StudentMapper">
    <resultMap id="BaseResultMap" type="com.learning.mybatis.entity.Student">
        <id property="studentId" column="student_id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
        <result property="city" column="city" javaType="String" jdbcType="VARCHAR"/>
        <result property="age" column="age" javaType="Integer" jdbcType="INTEGER"/>
        <result property="sex" column="sex" javaType="String" jdbcType="VARCHAR"/>

        <discriminator javaType="String" jdbcType="VARCHAR" column="sex">
            <case value="male" resultMap="MaleResultMap"></case>
            <case value="female" resultMap="FemaleResultMap"></case>
        </discriminator>
    </resultMap>

    <resultMap id="MaleResultMap" type="com.learning.mybatis.entity.MaleStudent" extends="BaseResultMap">
        <association property="maleStudentHealth"
                     select="com.learning.mybatis.dao.StudentHealthMapper.loadMaleStudentHealth" column="student_id"/>
    </resultMap>

    <resultMap id="FemaleResultMap" type="com.learning.mybatis.entity.FemaleStudent" extends="BaseResultMap">
        <association property="femaleStudentHealth"
                     select="com.learning.mybatis.dao.StudentHealthMapper.loadFemaleStudentHealth" column="student_id"/>
    </resultMap>

    <delete id="delete">
        delete from student where student_id=#{id}
    </delete>

    <select id="load" resultMap="BaseResultMap">
        select
            student_id ,
            `name`,
            `city`,
            `age`,
             sex
          from student where student_id = #{id}
    </select>


    <insert id="insert" timeout="2" useGeneratedKeys="true" keyProperty="studentId">
        insert into student (`name`,`city`,`age`)
        VALUE (#{name},#{city},#{age});
    </insert>
</mapper>