<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.mybatis.dao.StudentMapper">
    <cache type="org.mybatis.caches.redis.RedisCache" eviction="FIFO" flushInterval="60000" size="512"/>

    <resultMap id="BaseResultMap" type="com.learning.mybatis.entity.Student">
        <id property="studentId" column="student_id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
        <result property="city" column="city" javaType="String" jdbcType="VARCHAR"/>
        <result property="age" column="age" javaType="Integer" jdbcType="INTEGER"/>
        <result property="sex" column="sex" javaType="String" jdbcType="VARCHAR"/>

        <discriminator javaType="String" jdbcType="VARCHAR" column="sex">
            <case value="male" resultMap="MaleResultMap"></case>
            <case value="female" resultMap="FemaleResultMap"></case>
        </discriminator>
    </resultMap>



    <resultMap id="BaseResultMap2" type="com.learning.mybatis.entity.Student">
        <id property="studentId" column="student_id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
        <result property="city" column="city" javaType="String" jdbcType="VARCHAR"/>
        <result property="age" column="age" javaType="Integer" jdbcType="INTEGER"/>
        <result property="sex" column="sex" javaType="String" jdbcType="VARCHAR"/>

        <discriminator javaType="String" jdbcType="VARCHAR" column="sex">
            <case value="male" resultMap="MaleResultMap2"></case>
            <case value="female" resultMap="FemaleResultMap2"></case>
        </discriminator>
    </resultMap>

    <resultMap id="MaleResultMap2" type="com.learning.mybatis.entity.MaleStudent" extends="BaseResultMap">
        <association property="maleStudentHealth" column="student_id" javaType="com.learning.mybatis.entity.MaleStudentHealth">
            <id column="health_id" property="healthId"/>
            <result property="studentId" column="student_id"/>
            <result property="prostate" column="prostate"/>
        </association>
    </resultMap>

    <resultMap id="FemaleResultMap2" type="com.learning.mybatis.entity.FemaleStudent" extends="BaseResultMap">
        <association property="femaleStudentHealth" column="student_id" javaType="com.learning.mybatis.entity.FemaleStudentHealth">
            <id column="health_id" property="healthId"/>
            <result property="studentId" column="student_id"/>
            <result property="breast" column="breast"/>
        </association>
    </resultMap>

    <resultMap id="MaleResultMap" type="com.learning.mybatis.entity.MaleStudent" extends="BaseResultMap">
        <association property="maleStudentHealth"
                     select="com.learning.mybatis.dao.StudentHealthMapper.loadMaleStudentHealth" column="student_id"/>
    </resultMap>

    <resultMap id="FemaleResultMap" type="com.learning.mybatis.entity.FemaleStudent" extends="BaseResultMap">
        <association property="femaleStudentHealth"
                     select="com.learning.mybatis.dao.StudentHealthMapper.loadFemaleStudentHealth" column="student_id"/>
    </resultMap>

    <delete id="delete" >
        delete from student where student_id=#{id}
    </delete>

    <select id="load" resultMap="BaseResultMap" flushCache="false">
        select
            student_id ,
            `name`,
            `city`,
            `age`,
             sex
          from student where student_id = #{id}
    </select>


    <select id="loadMapping" resultMap="BaseResultMap2">
        SELECT
            st.student_id,
            st.name,
            st.city,
            st.age,
            st.sex,
            sh.health_id,
            sh.prostate,
            sh.breast
        FROM
            student st,
            student_health sh
        WHERE
            st.student_id = sh.student_id;
    </select>


    <insert id="insert" timeout="2" useGeneratedKeys="true" keyProperty="studentId">
        insert into student (`name`,`city`,`age`)
        VALUE (#{name},#{city},#{age});
    </insert>
</mapper>